*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

/* HEADER FIXED */
#header-fixed{
    width: calc( 100% - 90px );
    position: fixed;
    height: 90px;
    z-index: 900;
    right: 0;
    background-color: rgba(0, 0, 0, 0.58);
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

#upgrade a{ 
    color: white ;
    border: solid 1px white;
    border-radius: 20px;
    padding: 10px 30px;
    text-decoration: none;
    margin-right: 10px ;
    transition: 2s;
}

#upgrade:hover {
    transform: scale(1.1);
}

/* COLUMN LEFT */
#column-left{
    width: 90px;
    height: calc( 100vh - 90px );
    position: fixed;
    z-index: 899;
    /* debug */
    background-color: green;
}

/* PRINCIPAL PART */
#principal-part{
    padding-left: 90px;
    /* debug */
    background-color: saddlebrown;
    height: 1000px;
}

/* FOOTER */
footer{
    width: 100%;
    height: 90px;
    position: fixed;
    z-index: 900;
    bottom: 0;
    /* debug */
    background-color: blue;
}
