*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

/* HEADER FIXED */
#header-fixed{
    width: calc( 100% - 150px );
    position: fixed;
    height: 90px;
    z-index: 900;
    right: 0;
    background-color: rgba(0, 0, 0, 0.58);
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

#upgrade a{ 
    color: white ;
    border: solid 1px white;
    border-radius: 20px;
    padding: 10px 30px;
    text-decoration: none;
    margin-right: 10px ;
    transition: 2s;
}

#upgrade:hover {
    transform: scale(1.1);
}

/* COLUMN LEFT */
@media screen and (max-width:768px){
    
}

#column-left{
    width: 180px;
    height: calc( 100vh - 90px );
    position: fixed;
    z-index: 899;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
}


#column-left a{
    color: grey;
    text-decoration: none;
}

#column-left a:hover{
    color: white;
}

/* LOGO */
#logo{
    width: 70%;
    height: auto;
    padding: 10px;
}

/* INFO */
#info div{
    padding: 3px 10px;
}

#info img{
    width: 20px;
    height: auto;
    vertical-align: middle;
}


#info div:hover{
    border-left: solid 1px greenyellow;
}

/* PLAYLIST */
#playlist{
  margin: 10px;
}

#playlist a{
    display: block;
    padding: 3px 0;
    font-size: 0.8em;
}

#playlist i{
    margin: 4px 0;
    width: 25px;
    vertical-align: middle;
    font-size: 2em;
}

/* USERNAME */
#username{
   position: fixed;
   z-index: 850; 
   bottom: 90px;
   padding: 5px;
   background-color: black;
}


#username a{
    padding-bottom: 10px;
}
#username a img{
    vertical-align: middle;
    width: 20px;
    height: auto;
}

#username hr{
    margin: 5px;
}

#profile{
    width: 20px;
    height: auto;
    background-color: grey;
    border-radius: 50%;
    vertical-align: middle;
}

/* PRINCIPAL PART */
#principal-part{
    padding: 90px 0;
    padding-left: 190px;
    color: white;
    background-color: #090925;
}

#principal-part a{
    text-decoration: none;
    color: grey;
    padding: 2px;
}

#principal-part img {
    margin-top: 10px;
    margin-right: 15px;
    width: 170px;
    height: auto;
 }

 #principal-part h6{
     color: grey;
 }

/* GENERAL */
#general{
    display: flex;
    justify-content: space-around;
}

#general li{
  display: inline-block;
  margin: 20px 0;
}

#general a:hover{
    color: white;
    border-bottom: solid 1px yellowgreen;
}

/* subalbum */
.subalbum{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

.layover{
    margin-top: 10px;
    margin-right: 10px;
    width: 170px;
    height: 170px;
    position: absolute;
    background-color: rgba(151, 146, 146, 0.30);
    display: none;
}

.layover i{
    z-index: 99;
    color: white;
    position: absolute;
    font-size: 2.5em;
    top: 50%;
    left: 50%;
    color: white;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
}

.album:hover .layover{
    display: block;
}

.artisti img{
    border-radius: 50%;
}

.artisti .layover{
    border-radius: 50%;
}

/* FOOTER */
footer{
    width: 100%;
    height: 90px;
    position: fixed;
    z-index: 900;
    bottom: 0;
    background-color: rgb(29, 29, 31);
    display: flex;
    justify-content: space-between;
    color: white;
}

footer a{
    text-decoration: none;
    color: grey;
}

footer a:hover{
    color: white;
}

#canzone *{
    display: inline-block;
    margin: 2px;
}

#canzone img{
    width: 35px;
    height: auto;
}

footer i{
    font-size: 1.3em;
    margin: 5px;
    vertical-align: middle;
}

#player .fa-play-circle{
    font-size: 2em;
    padding: 0 5px;
}

#player hr{
    width: 80%;
    display: inline-block;
}



