*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



/* HEADER FIXED */
#header-fixed{
    width: calc( 100% - 90px );
    height: 90px;
    position: fixed;
    z-index: 900;
    right: 0;
    /* debug */
    background-color: red;
}

/* COLUMN LEFT */
#column-left{
    width: 90px;
    height: calc( 100vh - 90px );
    position: fixed;
    z-index: 899;
    /* debug */
    background-color: green;
}

/* PRINCIPAL PART */
#principal-part{
    padding-left: 90px;
    /* debug */
    background-color: saddlebrown;
    height: 1000px;
}

/* FOOTER */
footer{
    width: 100%;
    height: 90px;
    position: fixed;
    z-index: 900;
    bottom: 0;
    /* debug */
    background-color: blue;
}
