*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

/* HEADER FIXED */
#header-fixed{
    width: calc( 100% - 150px );
    position: fixed;
    height: 90px;
    z-index: 900;
    right: 0;
    background-color: rgba(0, 0, 0, 0.58);
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

#upgrade a{ 
    color: white ;
    border: solid 1px white;
    border-radius: 20px;
    padding: 10px 30px;
    text-decoration: none;
    margin-right: 10px ;
    transition: 2s;
}

#upgrade:hover {
    transform: scale(1.1);
}

/* COLUMN LEFT */
#column-left{
    width: 150px;
    height: calc( 100vh - 90px );
    position: fixed;
    z-index: 899;
    background-color: black;
    color: gray;

}

#column-left div{
    padding: 5px 10px;
}

#column-left a{
    text-decoration: none;
    color: gray;
}

#logo{
    width: 80%;
    height: auto;
}

#info{
    padding-top: 10px;
}

#info img{
 width: 20%;
 height: auto;
}

#info span{
    vertical-align: 5px;
}

#home:hover,
#search:hover ,
#libreria:hover {
    border-left: solid 2px greenyellow;
}

#home:hover a,
#search:hover a ,
#libreria:hover a {
    color: white;
}

#playlist h4{
    color: white;
    margin-top: 10px;
}

#crea{
    background-color: gray;
}

/* PRINCIPAL PART */
#principal-part{
    padding-left: 90px;
    /* debug */
    background-color: saddlebrown;
    height: 1000px;
}

/* FOOTER */
footer{
    width: 100%;
    height: 90px;
    position: fixed;
    z-index: 900;
    bottom: 0;
    /* debug */
    background-color: blue;
}
